#Fill these in when you deploy this project to your cluster.
DISCORD_TOKEN=
#Optional
DISCORD_GUILD_ID= #makes slash commands register faster when guild-scoped. Globally this may take up to an hour to register.
KUBECONFIG_PATH= #allows running the bot outside of the cluster. If you are running this in a cluster, leave this blank, or set it up as a fallback.
