#Fill these in when you deploy this project to your cluster.
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
#Optional - makes slash commands register faster when guild-scoped. Globally this may take up to an hour to register.
DISCORD_GUILD_ID=
